<position-editor (posChangedEvent)="onPosChanged($event)"></position-editor>
<div>
  <input type="range" min="0" max="100" step="0.1" [(ngModel)]="near" />
</div>
<div>
  <input type="range" min="0" max="100" step="0.1" [(ngModel)]="far" />
</div>
<div>
  <input type="range" min="0" max="360" step="0.1" [(ngModel)]="rotx" />
</div>
<div id="myEmbeddedScene">
  <a-scene embedded vr-mode-ui="enabled: false">
    <a-box
      [attr.position]="boxPosition"
      [attr.rotation]="{ x: rotx, y: 0, z: 0 } | toAFrame"
      depth="2"
      height="1"
      width="0.5"
      color="#EF2D5E"
    ></a-box>
    <a-camera [attr.fov]="fov" [attr.near]="near" [attr.far]="far"></a-camera>
  </a-scene>
</div>
